build/
builddir/
buildDir/
subprojects/packagecache/
subprojects/*.zip
subprojects/*.tar.gz
subprojects/*-cache/
subprojects/Catch2-*/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
.cache/
.vscode/
.idea/
.DS_Store
